I m Divya Ucheniya Following Roadmap for Python Developer (https://roadmap.sh/python).
For this Learning I m following this Youtube Channel- https://youtu.be/kqtD5dpn9C8?si=pvD2cTsFhL7Yilpo .
**Topics**:
* Variables
* Receiving Input
* Type Conversion
* Strings
* Arthmetic Operators
* Operator Precedence
* Camparision Operators
* Logical Operator

In [1]:
# first Program
print("Hello World")

Hello World

**Variables** :
Variables are containers for storing data values.
* Storing Data Temperory in your Computer Memory
* Python is case senitive language- upper and lower case alphabate is different. Variable names are case-sensitive.

In [3]:
age = 20
age = 30 #program get executed from top to bottom
print(age) # if we have run can't write in quotation marks if do so its mean they are string

30

In [ ]:
price= 19.95 # Float
first_name = "Divya"
is_online = False # Boolean, False with Capital F is special Keyword in python

**Exercise**: 
* We check in a Patient named John Smith.
* He is 20 Year Old.
* He is a new Patient
* Declare varible to store these values.

In [ ]:
name = "John Smith"
age = 20
new_patient = True

**Receiving Input**: use for input in terminal/output.

In [3]:
name = input("What is your name?")
print("Hello " + name) #concatinating with other string.

Hello takei

**Type Conversion**: When we have to convert one type to other.
There are two types of type conversion in Python.

* Implicit Conversion - automatic type conversion
* Explicit Conversion - manual type conversion
Link for Documentation- https://www.programiz.com/python-programming/type-conversion-and-casting

In [4]:
birth_year = input("Enter your birth year: ") # if 2001 as input
# here we "2001"(string) and 2000(number) is different
age = 2020 - birth_year  # so 2020 - "2001"
print(age) # so for solving of this problem we will replacestring into int function

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [5]:
birth_year = input("Enter your Birth Year: ") # input-2001
age = 2020 - int(birth_year) #passing the string in int funtion
print(age)

19

**Built-in Data Types**: Variables can store data of different types, and different types can do different things.
* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

In [ ]:
int() # 19
float() # 19.85
bool() # converting the value to boolean
str() # converting the value to string

In [1]:
first = input("First: ") # input 10, first= "10"
second = input("Second: ") #input 20, second = "20"
sum = first + second # Combining and concatinating the 2 string
print(sum) #1020

1040

In [2]:
first = input("First: ") # input 10 , 
second = input("Second: ") #input 20
sum = int(first) + int(second) # we will pass int function
print(sum) #if u store floating value in input then

76

In [8]:
first = input("First: ") # input 10.1 , 
second = input("Second: ") #input 20
sum = int(first) + int(second) # we will pass int function
print(sum) #if u store dloating value in input then it will show invalid.

ValueError: invalid literal for int() with base 10: '10.1'

In [11]:
first = input("First: ") # input 10.11 , 
second = input("Second: ") #input 20.99
sum = float(first) + float(second) # we will pass int function
print(sum) #if u store dloating value in input then

31.099999999999998

In [12]:
first = input("First: ") # input 10 , 
second = input("Second: ") #input 20
sum = int(first) + int(second) # we will pass int function
print("Sum: " + sum) # Python doesn't know how to evaluate "Sum" + 19.1

TypeError: can only concatenate str (not "int") to str

In [13]:
first = input("First: ") # input 10 , 
second = input("Second: ") #input 20.1
sum = float(first) + float(second) # we will pass float function
print("Sum: " + str(sum)) # So we will use str function

Sum: 30.1

Points To Remember in Type conversion:
* We get TypeError, if we try to add str and int. For example, '12' + 23. Python is not able to use Implicit Conversion in such conditions.
* Python has a solution for these types of situations which is known as Explicit Conversion.
* Type Conversion is the conversion of an object from one data type to another data type.
* Implicit Type Conversion is automatically performed by the Python interpreter.
* Python avoids the loss of data in Implicit Type Conversion.
Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user.
* In Type Casting, loss of data may occur as we enforce the object to a specific data type. 
* https://www.programiz.com/python-programming/type-conversion-and-casting

**Strings**:Strings in python are surrounded by either single quotation marks, or double quotation marks. Eg. 'hello' is the same as "hello".
https://www.w3schools.com/python/python_strings.asp
* String Methods- lower, Upper, find, replace('old','new'),
* Important: count(), encode(), endswith(), find(), format(), index(), isdigit(), join(), lower(), strip(), partition(), replace(),split(), title(), upper()
* https://www.w3schools.com/python/python_strings_methods.asp
* keyword - in

In [14]:
course = 'Python for Beginners' # string is object like in real world object eg. course storing a string object 
print(course.upper()) #print and input is general purpose function 
print(course)

PYTHON FOR BEGINNERS
Python for Beginners

In [15]:
course = 'Python for Beginners' # string is object like in real world object eg. course storing a string object 
print(course.find('y')) #index of y is 1 , python is sensitive to upper and lower case  
print(course)

1
Python for Beginners

In [17]:
course = 'Python for Beginners' # string is object like in real world object eg. course storing a string object 
        # 01234567891011 index , space is also consider in index
print(course.find("B")) # it will return -1 coz we don't have Y in string
print(course)

11
Python for Beginners

In [19]:
course = 'Python for Beginners'
print(course.replace('for', '4'))

Python 4 Beginners

In [20]:
course = 'Python for Beginners'
print(course.replace('X', '4')) # if we try to replace x with 4
# we don't have X so it will print as it .

Python for Beginners

In [21]:
course = 'Python for Beginners'
print(course.find('Python'))

0

In [22]:
course = 'Python for Beginners'
print('Python' in course) #in kewword check is Python in course variable

True

Python divides the operators in the following groups:
* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

**Arithmetic operators**: Arithmetic operators are used with numeric values to perform common mathematical operations:
Operator & Name	:
'+'	Addition;		
'-'	Subtraction;	
'*'	Multiplication;	
/	Division;
%	Modulus;	
**	Exponentiation;	
//	Floor division

In [23]:
print(10/3) # we get floating point no. , /Division

3.3333333333333335

In [24]:
print(10//3) # we will get integer whole no.- //Floor Division

3

In [25]:
print(10%3) # Modulus operator- Return Remainder of Division 10 by 3

1

In [26]:
print(10*3) # Multiplication

30

In [27]:
print(10**3) #Exponential operator 2 asterisks * mean power on base 10

1000

In [ ]:
 # Augmented Assignment Operator
x=10
x=x+3
x +=3
a=10
a += 2 #(add 2 to a)
a -= 3 #(subtract 3 from a)
a *= 4 #(multiply a by 4)
a /= 5 #(divide a by 5)
a %= 6 #(modulo a by 6)
a **= 7 #(exponentiate a by 7)

**Operator Precedence**: Determines the order in which operators are evaluated in expression.

Operator	Description	Try it
'()'	Parentheses;	
'**'	Exponentiation;	
'+x  -x  ~x'	Unary plus, unary minus, and bitwise NOT;	
'*  /  //  %	' Multiplication, division, floor division, and modulus;
'+  -'	Addition and subtraction;	
'<<  >>'	Bitwise left and right shifts;	
'&'	Bitwise AND;	
'^'	Bitwise XOR	;
'|'	Bitwise OR	;
'==  !=  >  >=  <  <=  is  is not  in  not in '	Comparisons, identity, and membership operators	;
'not'	Logical NOT	;
'and'	AND	;
,or'	OR

In [29]:
z= 10 + 3 * 2 # excatly like math but we can change it
print(z)

16

In [30]:
x= (10+3)*2 # we can add parentheses
print(x)

26

**Comparison operators**: 
Comparison operators are used to compare two values:

Operator & Name	:
'=='	Equal ;	
'!='	Not equal ;
'>'	Greater than ;
'<'	Less than; 	
'>='	Greater than or equal to;
'<='	Less than or equal to

In [31]:
x=3>2
print(x)

True

In [32]:
x= 3>=2
print(x)

True

In [33]:
x= 3==2 # Equality operator don't confuse with assignment operator =
print(x) # after run 3 is not equal to 2

False

In [34]:
x= 3 != 2 # not equal to
print (x)

True

**Logical operator**: 
Logical operators are used to combine conditional statements:
**Operator & Description:** 	
'and' 	Returns True if both statements are true; 
'or'	Returns True if one of the statements is true;
'not'	Reverse the result, returns False if the result is true

- **and** (both)
- **or** (at least one)
- **not** (inverses any value we give it)

In [35]:
price = 25
print(price > 10 and price < 30)  # both condition should be true

True

In [36]:
price = 5
print(price > 10 or price < 30) # only one condition can be true

True

In [37]:
price= 10
print(not price > 5)

False